
.container_app,
.container_bloks{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

.container_bloks{
    top: 58px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.wrapper{
    position: relative;
    height: 100%;
    max-width: 1800px;
    margin: auto;
    border-left: 1px solid lightgrey;
}